extends ./_layouts/_head.jade

block vars
  - var htmlClass = 'page-home';

block content

  section.home-hero
    .flex-container  
      .flex-about-content
        hr.section-title-rule
        .mission The education and training to change your circumstances and take control of your future.
        hr.section-title-rule.bottom
        
        
      .flex-video-right
        .flex-video-wrap
          .flex-video <iframe src="http://www.youtube.com/embed/swcKGCX2Aos?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        p.muted-extra(style="max-width: 300px") <span class="black">Video above:</span> I ask six talented creators what advice they would give their younger selves.

  

  section.what-is-devtips
    .constrainer
      .section-head What is DevTips?
      hr.section-title-rule
      .media-object
        .media
          img.avatar(src="https://ci5.googleusercontent.com/proxy/AaZXsl9_ruMCGZrO6LVVcCg5qr82Ti86mO-hGHy2ioUj7wbkNJp5niE5p6GDGVfpb4Z9X3Am-dOK84ShwqK2vyO1x_GjxNbdYeB7QG5NHLAJawEloHQa_0wrRTnfTtOLYHTHJWiJnbbxyA7y07-zTqSxkSDjOt-HRj1Qow0=s0-d-e1-ft#https://gallery.mailchimp.com/2abae111d44df144b3b3986bc/images/cd92ba3c-ecf7-4268-b153-181559b6ea28.jpg")
        .content
          p DevTips is a <a href="https://www.youtube.com/user/DevTipsForDesigners">weekly YouTube show</a> that focuses on web development and design, hosted by <a href="http://travisneilson.com">Travis Neilson</a>.
    
    
  section.popular-episodes.tint
    include ./assets/img/arc.svg
    .constrainer
      .section-head Popular Videos <span>Free!</span>
      hr.section-title-rule
      
      include ./_includes/_popular-episodes.jade


  section.jquery-video-course
    .constrainer.text-center
      .section-head.white jQuery Video Course
      hr.section-title-rule
      
      p.white Learn jQuery the DevTips way by coding real projects that you can use professionally.
      
      include ./_includes/_jquerycourse-form.jade
      
      p.white This video course is still in development, so sign up to be notified of the launch!
      p: a.white-hard(href="/killingitwithjquery") Learn more about the course
    
    
  section.patreon-community
    .constrainer.text-center
      .section-head Patreon Community
      hr.section-title-rule
      
      .patreon-icons
        .chat
          include ./assets/img/icn/pat-chat.svg
          p.muted-extra DevTips Chat
        .vids
          include ./assets/img/icn/pat-vids.svg
          p.muted-extra Extra Videos
        .hang
          include ./assets/img/icn/pat-hang.svg
          p.muted-extra hangouts
        .pod
          include ./assets/img/icn/pat-pod.svg
          p.muted-extra DevTips Podcast
      
      p The <a href="https://www.patreon.com/DevTips">DevTips community</a> is a way for fans of the show to support the creative efforts involved.

      p Of course, Patrons get awesome perks ;)
  
  //section.quote 
    div You can deal with anything today<br>if you have a compelling future<cite>— Tony Robbins</cite>
  section.quote
    div <span>DevTips Mission:</span> educate, inspire, and uplift anyone willing to engage; whoever wherever, however possible.
