extends ../_layouts/_head.jade

block vars
  - var htmlClass = 'page-gifs';

block content

  section.gif-hero
    .text-center
      .constrainer
        .section-head DevTips GIFs!
        hr.section-title-rule(style="border-top-color: #FF4136;")
        
        p.lead These images were all created and passed around inside the DevTips Chat. I'm placing them here so you can use them to make the internet weird.
      
      .gif-cluster
        a(href="/gifs/blow.gif" target="_blank"): img.gif(src="/gifs/blow.gif")
        a(href="/gifs/pinch.gif" target="_blank"): img.gif(src="/gifs/pinch.gif")
        a(href="/gifs/suprise.gif" target="_blank"): img.gif(src="/gifs/suprise.gif")
        a(href="https://j.gifs.com/W6p2Vn.gif" target="_blank"): img.gif(src="https://j.gifs.com/W6p2Vn.gif")
        a(href="/gifs/magical.gif" target="_blank"): img.gif(src="/gifs/magical.gif")
        a(href="https://j.gifs.com/PNgRL2.gif" target="_blank"): img.gif(src="https://j.gifs.com/PNgRL2.gif")
        a(href="/gifs/sad.gif" target="_blank"): img.gif(src="/gifs/sad.gif")
        a(href="/gifs/waiting.gif" target="_blank"): img.gif(src="/gifs/waiting.gif")
        a(href="https://j.gifs.com/yP7RER.gif" target="_blank"): img.gif(src="https://j.gifs.com/yP7RER.gif")
        a(href="/gifs/thelook.gif" target="_blank"): img.gif(src="/gifs/thelook.gif")
        a(href="/gifs/bobbing.gif" target="_blank"): img.gif(src="/gifs/bobbing.gif")
        a(href="https://j.gifs.com/gJX02k.gif" target="_blank"): img.gif(src="https://j.gifs.com/gJX02k.gif")
        a(href="https://j.gifs.com/kRM1wN.gif" target="_blank"): img.gif(src="https://j.gifs.com/kRM1wN.gif")
        a(href="https://j.gifs.com/KrEDAY.gif" target="_blank"): img.gif(src="https://j.gifs.com/KrEDAY.gif")
        a(href="https://j.gifs.com/ADOp9P.gif" target="_blank"): img.gif(src="https://j.gifs.com/ADOp9P.gif")
        a(href="https://j.gifs.com/Nk1J5p.gif" target="_blank"): img.gif(src="https://j.gifs.com/Nk1J5p.gif")
        a(href="https://j.gifs.com/pYV172.gif" target="_blank"): img.gif(src="https://j.gifs.com/pYV172.gif")
