extends ../_layouts/_head.jade

block vars
  - var htmlClass = 'page-gifs';
  - var assetsDir = '../assets';

block content

  section.gif-hero
    .text-center
      .constrainer
        .section-head DevTips GIFs!
        hr.section-title-rule(style="border-top-color: #FF4136;")
        
        p.lead These images were all created and passed around inside the DevTips Chat. I'm placing them here so you can use them to make the internet weird.
      
      .gif-cluster
        a(href="blow.gif" target="_blank")
          img.gif(src="blow.gif")
        a(href="pinch.gif" target="_blank")
          img.gif(src="pinch.gif")
        a(href="suprise.gif" target="_blank")
          img.gif(src="suprise.gif")
        a(href="https://j.gifs.com/W6p2Vn.gif" target="_blank")
          img.gif(src="https://j.gifs.com/W6p2Vn.gif")
        a(href="magical.gif" target="_blank")
          img.gif(src="magical.gif")
        a(href="https://j.gifs.com/PNgRL2.gif" target="_blank")
          img.gif(src="https://j.gifs.com/PNgRL2.gif")
        a(href="sad.gif" target="_blank")
          img.gif(src="sad.gif")
        a(href="waiting.gif" target="_blank")
          img.gif(src="waiting.gif")
        a(href="https://j.gifs.com/yP7RER.gif" target="_blank")
          img.gif(src="https://j.gifs.com/yP7RER.gif")
        a(href="thelook.gif" target="_blank")
          img.gif(src="thelook.gif")
        a(href="bobbing.gif" target="_blank")
          img.gif(src="bobbing.gif")
