footer.white.tint-reversed
  .constrainer
    ul.link-list.text-center
      li: a(href="") Late Nights with Trav & Los
      li: a(href="") Email Articles & Notes
      li: a(href="") TravisNeilson.com
      li(style="color: hsla(0,0%,100%,0.4)") Copyright 2016
