footer.white.tint-reversed
  .constrainer
    ul.link-list.text-center
      li: a(href="http://travandlos.com") Late Nights with Trav & Los
      li: a(href="http://travisneilson.com/notes") Email Articles & Notes
      li: a(href="http://travisneilson.com") TravisNeilson.com
      li(style="color: hsla(0,0%,100%,0.4)") Copyright 2016
