form.jquerycourse-form(action='https://gumroad.com/follow_from_embed_form', method='post')
  input(name='seller_id', type='hidden', value='2449985483245')
  input(name='email', placeholder='Enter your email', type='email' id="email")
  div
    button(data-custom-highlight-color='', type='submit' class="jquerycourse-submit") Tell me when it's ready!
