.menu-overlay

  .menu-plate
  
    .menu-close
      include ../assets/img/icn/ic_close.svg
    
    ul.menu
      
      li: a(href="/") 
        include ../assets/img/icn/ic_home.svg
        | Home
        
      li: a(href="https://www.youtube.com/user/DevTipsForDesigners") 
        include ../assets/img/icn/ic_youtube.svg
        | YouTube Videos
        
      li: a(href="/jquerycourse") 
        include ../assets/img/icn/ic_jquery.svg
        | jQuery Course
        
      li: a(href="https://www.patreon.com/DevTips") 
        include ../assets/img/icn/ic_patreon.svg
        | Patreon Community
        
