.menu-overlay

  .menu-plate
  
    .menu-close
      include ../assets/img/icn/ic_close.svg
    
    ul.menu
      
      li: a(href="/") 
        include ../assets/img/icn/ic_home.svg
        .double-line Home
          span What is DevTips?
        
      
      li: a(href="/killingitwithjquery") 
        include ../assets/img/icn/ic_jquery.svg
        .double-line Killing it with jQuery
          span video courses

      li: a(href="/gifs") 
        include ../assets/img/icn/ic_gif.svg
        .double-line Animated Gifs!
          span make the internet weird
      
      li: hr
      
      li: a(href="https://www.youtube.com/user/DevTipsForDesigners") 
        include ../assets/img/icn/ic_youtube.svg
        .double-line YouTube Videos
          span Hundreds for free
        
      li: a(href="https://www.patreon.com/DevTips") 
        include ../assets/img/icn/ic_patreon.svg
        .double-line Patreon Community
          span Extra content + Friends
        
