extends ../../_layouts/_head.jade

block vars
  - var htmlClass = 'page-jquerycourse';

block content

  section.jquery-hero
    .constrainer.text-center
      .blue.bigger Thank you for signing up to be notified when the course is ready!

      
  section.15-minute-videos-promo.tint
    .constrainer.text-center
      p.lead Learn the basics of jQuery in only 15&nbsp;minutes right now <span style="color: #0067AF">for free!</span>
      
      a(href="").video-cascade
        img(src="https://i.ytimg.com/vi/gHgjVle4-h0/mqdefault.jpg")
        img(src="https://i.ytimg.com/vi/hPC6keUUiTA/mqdefault.jpg")
        img(src="https://i.ytimg.com/vi/3TWQgEO4Jo8/mqdefault.jpg")
        
      p.muted Get started with <a href="">three free 5 minute lessons</a> that cover the basics of jQuery.
      p.muted A perfect way to get ready for the courses, and get comfortable with learning the DevTips way.
      
      
  section.patreon-community
    .constrainer.text-center
      .section-head Patreon Community
      hr.section-title-rule
      
      .patreon-icons
        .chat
          include ../../assets/img/icn/pat-chat.svg
          p.muted-extra DevTips Chat
        .vids
          include ../../assets/img/icn/pat-vids.svg
          p.muted-extra Extra Videos
        .hang
          include ../../assets/img/icn/pat-hang.svg
          p.muted-extra hangouts
        .pod
          include ../../assets/img/icn/pat-pod.svg
          p.muted-extra DevTips Podcast
      
      p The <a href="https://www.patreon.com/DevTips">DevTips community</a> is a way for fans of the show to support the creative efforts involved.

      p Of course, Patrons get awesome perks ;)
