- var htmlClass = '';
block vars

doctype html
html(lang='en' class='#{htmlClass}')
  head
    title DevTips Show
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/assets/img/favicons/favicon.ico')
    link(rel='stylesheet', href='/assets/css/main.css')
  body
  
    
    .top-rect
    
    
    include ../_includes/_header.jade
    
    block content


    include ../_includes/_footer.jade
      
    include ../_includes/_menu.jade
            
    script(src='/assets/js/jquery-2.2.2.min.js')
    script(src='/assets/js/functions.js', type='text/javascript')
